/* mobile */
@media(max-width:575.98px ){
    .head-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
      }
      .container-sigup{
        flex-direction: column;
      }
      .part1{
        padding-left: 7%;
        padding-right: 7%;
      }
      .information-sigup-form{
        flex-direction: column;
      }
      .text-sigup{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
      .sub-text{
        padding-top: 20px;
      }
      .coming-sigup{
        justify-content: center;
        align-items: center;
      }
      .come{
        margin-top: 70px;
      }
      .type-hour{
        padding-top: 30px;
      }
      .form-sigup{
        width: 70%;
        transform: translatey(200px);
      }
      .direction2{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input{
        width: 100%;
        padding: 30px;
      }
      .down{
        line-height: 4;
      }
      .backgroung-sigup{
        width: 100%;
      }
      .btn-form{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    /* tablet */
    @media (min-width:575.98px )and  (max-width:991.98px ){
  .container-sigup{
    flex-direction: column;
  }
  .part1{
    padding-left: 7%;
    padding-right: 7%;
  }
  .information-sigup-form{
    flex-direction: column;
  }
  .text-sigup{
    text-align: center;
  }
  .main-text{
    padding-bottom: 15px;
  }
  .sub-text{
    word-spacing: 10px;
  }
  .coming-sigup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .come{
    padding-bottom: 20px;
  }
  .time2{
    margin-right: 15px;
  }
  .form-sigup{
    width: 70%;
    transform: translatey(200px);
  }
  .direction2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    width: 100%;
    padding: 30px;
  }
  .down{
    line-height: 4;
  }
  .backgroung-sigup{
    width: 100%;
  }
  .btn-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-sigup{
    width: 100%;
  }

}

    
